h1 {
    position: absolute;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 0.5;
    color: var(--dark-purple);
    justify-content: left;
    margin: 1rem;
    font-family: "Lexend";
}
.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
.wrapper .boxes {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
    width: 100%;

    min-width: 20rem;
    max-width: 56rem;
    margin-top: 15vh;
}
.wrapper .boxes input {
    box-sizing: border-box;
    border: 2px solid var(--border-gray);
    border-radius: 10px;
    outline: none;
    font-size: 0.9rem;

    color: var(--inside-gray);
    text-indent: 2px;
    padding: 0.5rem;
    width: 10vw;
}
.wrapper .boxes button {
    font-family: 'Lexend';
    font-size: 1rem;

    color: white;
    background: var(--dark-purple);
    border-radius: 10px;
    padding: 0.5rem 2rem;
    border: none;
}
.wrapper .boxes button:active {
    background-color: black;
}
.wrapper .boxes input:focus {
    caret-color: var(--border-gray);
}
.wrapper .boxes input::placeholder {
    font-family: 'Lexend';
    font-size: 0.9rem;
    opacity: 0.5;
}