 form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 4rem;
  gap: 1.5rem;

  background: #FDFBFE;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  box-sizing: border-box;
}
 .input{
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  
  width: 20rem;
  height: 2.5rem;

  background: #F0EDF1;
  border-radius: 30px;
  text-indent: 20px;
}
 .input[type="email"],
 .input[type="password"]{
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
}
 .input:focus {
  caret-color: var(--bright-purple);
  outline: none;
  border: 3px solid #a16eff;
}
 .input::placeholder{
  text-indent: 0;
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 2rem;
  color: rgba(0, 0, 0, 0.2);
}
.btns{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.6rem;
}
.btn {
  padding: 0.5rem calc(3rem/16);
  min-width: 6rem;
  font-weight: 500;
  font-size: 1rem;
  border-radius: 20px;
  box-sizing: border-box;
  outline: none;
  line-height: 1.5;

  color: white;
  background: var(--bright-purple);
  border: 1.5px solid transparent;
}
.signup {
  color: var(--dark-purple);
  background: var(--white-pink);
  border: 2px solid var(--dark-purple);
  box-sizing: border-box;
}
.btn:active {
  background: var(--dark-purple);
}
.signup-page {
  color: white;
  background: var(--dark-purple);
  font-weight: 600;
}
.error {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 20rem;

  padding: 0;
  margin: -1.25rem 0 -1.25rem 1rem;
  font-size: 0.75rem;
  color: red;

}