.login {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: 
      url("../assets/white-grid.png"),
      linear-gradient(180deg, #FFFFFF 12.98%, rgba(181, 132, 234, 0.8) 53.85%, rgba(117, 25, 255, 0.8) 100%);
  background-size: cover, cover;
}
.login h1 {
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 6.25rem;
  line-height: 7.8125rem;
  color: var(--bright-purple);
}
.login .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login .wrapper form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 4rem;
  gap: 1.5rem;

  background: #FDFBFE;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  box-sizing: border-box;
}
.login .wrapper .input{
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem 1rem;
  gap: 10px;
  
  width: 20rem;
  height: 2.5rem;

  background: #F0EDF1;
  border-radius: 30px;
  text-indent: 10px;
}
.login .wrapper .input[type="email"],
.login .wrapper .input[type="password"]{
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
}
.login .wrapper .input:focus {
  caret-color: var(--bright-purple);
  outline: none;
  border: 3px solid #a16eff;
}
.login .wrapper .input::placeholder{
  text-indent: 0;
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 2rem;
  color: rgba(0, 0, 0, 0.2);
}
.btns{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.6rem;
}
.btn {
  padding: 0.5rem calc(3rem/16);
  min-width: 6rem;
  font-weight: 500;
  font-size: 1rem;
  border-radius: 20px;
  box-sizing: border-box;
  outline: none;
  line-height: 1.5;

  color: white;
  background: var(--bright-purple);
  border: 1.5px solid transparent;
}
.signup {
  color: var(--dark-purple);
  background: var(--white-pink);
  border: 1.5px solid var(--dark-purple);
  box-sizing: border-box;
}
.btn:focus {
  background: var(--dark-purple);
}